
<h2 class="text-center text-primary">Workout Summary</h2>
<h5 class="text-center mt-3">Congratulations, {{this.user2.name}}! You`ve just finished the workout.</h5>
<h5 class="text-center mt-3">Your final grade is {{grade}}.</h5>
<h5 class="text-center mt-3">The average grade of your previous workouts is {{userAverage}}.</h5>


<div class="container mt-3">
<div class="row justify-content-center ">


</div>
<div class="row justify-content-center mt-3 ">
    <h5 class="text-center ">Would you like to start a new workout? </h5>
  
</div>
<div>
    <div style='text-align: center'>
        <button type="button" class="btn btn-primary mt-3" routerLink='/workouts'>Yes!</button>
    </div>
</div>
