<h2 style='text-align: center'>Please choose your workout:</h2>
<div class="container row mt-5">
    <div class="card col-4">
        <img class="card-img-top" src="assets/images/easy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Easy workout</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <a href="#" class="btn btn-primary">Start now</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="assets/images/normal.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Standard workout</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <a href="#" class="btn btn-primary">Start now</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="assets/images/hard.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hard workout</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <a href="#" class="btn btn-primary">Start now</a>
        </div>     
</div>
</div>