<div class="container mt-5">
  <div *ngIf="!registerMode" style= 'text-align:center;'>
<h2 style='text-align: center'>Please choose the difficulty of your workout:</h2>
<div class="container row mt-5">
    <div class="card col-4">
        <img class="card-img-top" src="assets/images/easy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Easy workout</h5>
          <p class="card-text">Duration: 30 seconds</p>
          
          <a (click)="registerToggle(1)" class="btn btn-primary">Choose</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="assets/images/normal.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Standard workout</h5>
          <p class="card-text">Duration: 45 seconds</p>
          <a (click)="registerToggle(2)" class="btn btn-primary">Choose</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="assets/images/hard.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hard workout</h5>
          <p class="card-text">Duration: 60 seconds</p>
          <a (click)="registerToggle(3)" class="btn btn-primary">Choose</a>
        </div>     
</div>
</div>
</div>
    <div *ngIf="registerMode">
      <app-personal-info [workoutMode]="workoutMode" (cancelRegister)="cancelRegisterMode($event)"></app-personal-info>



  </div>
</div>