
<style>
  header, footer {
      padding: 0.2em;
      color: white;
      background-color: #5911cc;
      clear: left;
      text-align: center;
      font-size: 150%;
  }
  div.canvas {
    float: inherit;
    width: 512px;
    height: 512px;
    overflow: hidden;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid gray;
  }
  div.menu {
    float: left;
    margin-top: 0.5em;
    overflow: hidden;
    width: inherit;
    height: inherit;
    position: relative;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid gray;
  }
  div.single {
    padding: 0.2em;
    margin: 0.2em;
    position: relative;
    overflow: hidden;
    border: 1px solid lightgray;
  }
  html {
      background-color: #eaf2b0;
  }
</style>

<html>
    <div id="vertex-shader" style="display:none;" >{{vertex}} </div>
    <!-- <script id="vertex-shader" type="x-shader/x-vertex">
        
        attribute  vec4 vPosition;

        uniform mat4 modelViewMatrix;
        uniform mat4 projectionMatrix;

        void main()
        {
            gl_Position = projectionMatrix * modelViewMatrix * vPosition;
        }
    </script> -->

    <div id="fragment-shader" style="display:none;"  >{{fragmetnt}} </div>

    <!-- <script id="fragment-shader" type="x-shader/x-fragment">
        precision mediump float;

        void main()
        {
            gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);

        }
    </script> -->
    <app-script-hack type="text/javascript" src="assets/StickmanJS/Common/webgl-utils.js"></app-script-hack>
    <app-script-hack type="text/javascript" src="assets/StickmanJS/Common/initShaders.js"></app-script-hack>
    <app-script-hack type="text/javascript" src="assets/StickmanJS/Common/MV.js"></app-script-hack>
    <app-script-hack type="text/javascript" src="assets/StickmanJS/project.js"></app-script-hack>

    <header> Good Luck!</header>

    <body>
        <div *ngIf="!workoutOngoing" class="text-center">
            <button (click)="startWorkout()" class="btn btn-primary btn-lg mr-2">Click Here to Start!</button>
        </div>
        <div *ngIf="workoutOngoing" class="text-center">
            <!-- <button (click)="startWorkout()" class="btn btn-primary btn-lg mr-2">Click Here to Start!</button> -->
            <h4>Current status:  {{message}}</h4>
        </div>



        <div class="menu">
            <div id="MainMenu" class="menu">
                Main Menu
                <div class="single" style='text-align: center'>
                    <span id="debug"></span>

                    <button id = "stop" >Reset</button>
                    <button (click)="changeToAngleOne()" >Angle 1</button>
                    <button (click)="changeToAngleTwo()"  >Angle 2</button>
                    <button  (click)="changeToAngleThree()">Angle 3</button>
                    <button id = "run" style="display:none;" >Run</button>
                    <button id = "jump" style="display:none;" >Jump</button>
                    <button id = "backflip" style="display:none;" >Backflip</button>
                </div>
                <div style="">
                <div class=single id="slider11" style="display:none;">
                    Body Position <input id="slide" type="range"
                    autocomplete="off" min="-10" max="10" step="1" value="0"
                    />
                    <input id="slider11Val" value="0" size="3">
                </div>
                <div class=single id="testSlide" style="display:none;">
                    Waist <input id="slide" type="range"
                    autocomplete="off" min="150" max="310" step="10" value="180"
                    />
                    <input id="testSlideVal" value="180" size="3">
                </div>
                <div class=single id="slider0" style="display:none;">
                    TorsoX angle <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider0Val" value="0" size="3">
                </div>
                <div class=single id="slider10" style="display:none;">
                    TorsoY angle <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider10Val" value="0" size="3">
                </div>
                <div class=single id="slider1" style="display:none;">
                    Head <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider1Val" value="0" size="3">
                </div>
                <div class=single id="slider2" style="display:none;">
                    Left Upper Arm <input id="slide" type="range"
                    autocomplete="off" min="0" max="180" step="10" value="135"
                    />
                    <input id="slider2Val" value="135" size="3">
                </div>
                <div class=single id="slider3" style="display:none;">
                    Left Lower Arm <input id="slide" type="range"
                    autocomplete="off" min="-155" max="0" step="10" value="-155"
                    />
                    <input id="slider3Val" value="0" size="3">
                </div>
                <div class=single id="slider4" style="display:none;">
                    Right Upper Arm <input id="slide" type="range"
                    autocomplete="off" min="-180" max="0" step="10" value="-135"
                    />
                    <input id="slider4Val" value="-135" size="3">
                </div>
                <div class=single id="slider5" style="display:none;">
                    Right Lower Arm <input id="slide" type="range"
                    autocomplete="off" min="-155" max="0" step="10" value="0"
                    />
                    <input id="slider5Val" value="0" size="3">
                </div>
                <div class=single id="slider6" style="display:none;">
                    Left Upper Leg <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider6Val" value="0" size="3">
                </div>
                <div class=single id="slider7" style="display:none;">
                    Left Lower Leg <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider7Val" value="0" size="3">
                </div>
                <div class=single id="slider8" style="display:none;">
                    Right Upper Leg <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider8Val" value="0" size="3">
                </div>
                <div class=single id="slider9" style="display:none;">
                    Right Lower Leg <input id="slide" type="range"
                    autocomplete="off" min="-180" max="180" step="10" value="0"
                    />
                    <input id="slider9Val" value="0" size="3">
                </div>
            </div>
            </div>
            <div class="canvas">
                <canvas id="gl-canvas" width="512" height="512">
                Oops ... your browser doesn't support the HTML5 canvas element
                </canvas>
            </div>
            <div id="SideMenu" class="menu" float="right" style="display:none;" >
                Animation Menu
                <div class="single">
                    <button id = "SaveKF">Save Key Frame</button>
                </div>
                <div class="single">
                    <button id = "Save">Save</button>
                    <input id = "saveName" type="text" value="save">
                </div>
                <div class="single">
                    <button id = "Load">Load</button>
                    <input id = "loadName" type="text" value="load">
                </div>
                <div class="single">
                    <button id = "Play">Play</button>
                </div>
                <div class="single">
                    <button id = "Reset">Reset</button>
                </div>
            </div>
        </div>

    </body>

    <!-- <footer> Gunce Kalyoncu & Enver Bashirov </footer> -->
</html>
